*.pyc
*.o
*.hi
.*.sw?
_build
.bzr*
import_*

# Autotools byproducts
config.status
configure
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
install-sh
missing
py-compile
autoconf.py
substvars.sh
ubot-*
ubot_env.sh
